@import 'utils/color.css';

.bar-chart {
	display: table;
}

.bar-chart-row {
	display: table-row;
}

.bar-chart-item,
.bar-chart-bar-container {
	display: table-cell;
}

.bar-chart-bar {
	background: var(--primary-color);
	position: relative;
}

.bar-chart-inner-bar {
	background: var(--accent-color);
	position: absolute;
	right: 0; top: 0;
}

.bar-chart-overlay {
	visibility: hidden;
	background: var(--dark-gray);
	color: var(--white-primary);
	padding: 0.7em 1em;
}