.event-box {
	background: var(--accent-color);
	color: var(--white-secondary);
	position: relative;
}

.event-box hr {
	border-color: var(--white-divider);
}

.event-header {
	color: var(--white-primary);
	margin: 0.25em;
}

.event-box-button {
	background: var(--dark-primary);
	position: absolute;
	top: 0;
	right: 0;
	margin-right: -100%;
	transition: opacity 0.2s linear, visibility 0.2s linear;
	opacity: 0;
	visibility: hidden;
}

.event-box:hover .event-box-button {
	opacity: 0.75;
	visibility: visible;
}

.event-box-button:hover {
	opacity: 0.9;
	visibility: visible;
}

.event-box-button:active {
	opacity: 1;
	visibility: visible;
}