@import 'utils/color.css';

.i-tab {
	position: relative;
}

.i-tab::after {
	width: 100%;
	height: .25rem;
	background: var(--accent-color);
	position: absolute;
	content: '';
	bottom: 0; left: 0;
	transition: opacity 0.2s ease;
	opacity: 0;
}

.i-tab-img {
	position: absolute;
	margin: auto;
	top: 0; bottom: 0;
	left: 0; right: 0;
	transition: transform 0.2s ease;
	transform: scale(0);
}

.i-tab-label {
	transition: opacity 0.1s ease, transform 0.2s ease;
	opacity: 0.75;
}

.i-tab:hover .i-tab-label,
.i-tab:hover::after {
	opacity: 1;
}

.i-tab:active .i-tab-img,
.i-tab.this .i-tab-img {
	transform: scale(1);
}

.i-tab:active .i-tab-label,
.i-tab.this .i-tab-label {
	transform: scale(0);
}