.tab-wrapper {
	display: inline-block;
}

.i-radio {
	display: none;
}

.tab-page {
	visibility: hidden;
}

.i-radio:checked + .i-radio-label .i-tab-img {
	transform: scale(1);
}
.i-radio:checked + .i-radio-label .i-tab-label {
	transform: scale(0);
}

.i-radio:checked + .i-radio-label + .tab-page{
	visibility: visible;
}