.clear-margin {margin:0}

.inline {display: inline-block}

.left {float: left}

.rel {position: relative}

@import 'utils/color.css';

body {
	font-family: 'Open Sans', sans-serif;
	color: var(--dark-primary);
	background-color: var(--light-gray);
	margin: 0;
}

h1, h2, h3 {
	font-weight: 400;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background: none;
	border: 0;
	font: inherit;
}

hr {border-width: 1px 0 0 0}