.toolbar-button {
	color: white;
	border-color: #ddd;
	margin-bottom: 0;
	padding: 0.32em 1.5em;
}

.sidebar-toolbar {
	display: flex;
	width: 15rem;
	justify-content: flex-end;
}

.aside-container {
	position: absolute;
	right: 0;
	width: 15em;
}

.map-mount {
	background: #ddd; 
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 16em;
}