.map-container {position: relative}

.weather-icon {
	position: absolute;
	left: 1em;
	bottom: 2em;

	padding: 0 0.5em;
	color: white;
	text-shadow: 0 0 0.5em black;
}

.weather-data {
	display: flex;
	transition: opacity 0.2s ease;
}