@import 'utils/color.css';

.banner {
	/*box-shadow: 0 2px 2px rgba(0, 0, 0, .2);*/
	background-color: var(--primary-color);
	color: var(--light-text);
	fill: var(--light-text);
}

.banner-title {
	margin: 0 .5em;
	display: inline-block;
	font-weight: 400;
	font-size: 1.25em;
	line-height: 4rem;
	border-right: 1px solid rgba(0,0,0,.5);
	padding: 0 2em;
}

.icon-label {
	display: inline-block;
	text-decoration: none;
	color: var(--light-text);
	text-transform: uppercase;
	line-height: 4rem;
	font-size: 0.9em;
	padding: 0 1.5em;
	position: relative;
}

.icon {
	position: absolute;
	margin: auto;
	top: 0; left: 0; right: 0; bottom: 0;
	opacity: 0;
	transition: opacity 0.2s ease;
}

.icon-text {
	opacity: 0.75;
	transition: opacity 0.2s ease;
}

.icon-label::after {
	position: absolute;
	content: '';
	width: 100%;
	bottom: 0; 
	left: 0;
	height: .25rem;
	background-color: white;
	opacity: 0;
	transition: opacity 0.2s ease;
}

.icon-label.this .icon,
.icon-label:active .icon,

.icon-label.this::after,
.icon-label:hover::after,

.icon-label:hover .icon-text {
	opacity: 1;
}

.icon-label.this .icon-text,
.icon-label:active .icon-text {
	opacity: 0;
}