@import 'utils/color.css';

.abs-center {
	position: absolute;
	margin: auto;
	top: 0; left: 0; right: 0; bottom: 0;
}

.banner {
	background-color: var(--primary-color);
	color: var(--white-primary);
	line-height: 4em;
}

.sticky-banner {
	position: fixed;
	width: 100%;
}

.banner-title {
	font-weight: 400;
	font-size: 1.25em;
	border-right: 1px solid var(--dark-divider);
	
	margin: 0 .5em;
	padding: 0 2em;
	vertical-align: top;
}

.icon-label {
	text-transform: uppercase;
	font-size: 0.9em;
}

.nav-tab {
	padding: 0 1.5em;
	position: relative;
}

.icon {
	width: 2.25rem; 
	height: 2.25rem;
	
	transition: transform 0.2s ease;
}

.icon-text {
	opacity: 0.75;
	transition: opacity 0.1s ease, transform 0.2s ease;
}

.icon-label::after {
	width: 100%;
	height: .25rem;
	background-color: var(--accent-color);
	
	position: absolute;
	content: '';
	bottom: 0; 
	left: 0;

	opacity: 0;
	transition: opacity 0.2s ease;
}

.icon-label:focus {outline: none}

.icon-label.this::after,
.icon-label:hover::after,
.icon-label:active::after,

.icon-label:hover .icon-text {
	opacity: 1;
}

.icon-label.this .icon,
.icon-label:active .icon,
.icon-label:focus .icon,
.icon-text {
	transform: scale(1);
}

.icon-label.this:focus .icon {
	transform: scale(0.667);
}

.icon-label.this .icon-text,
.icon-label:active .icon-text,
.icon-label:focus .icon-text,
.icon {
	transform: scale(0);
}

.user-button {
	float: right;
	margin-right: 3em;
}