.small-calendar {
	border-spacing: .75em;
	text-align: center;
}

.cal-day {
	width: 2em;
	height: 2em;
	border: 1px solid rgba(0,0,0,.65);
}

.agenda {
	position: absolute;
	margin-left: 23rem;
	top: 0; right: 0;
	width: 100%;
}