@import 'utils/color.css';

.sidebar {
	width: 256px;
	height: 100vh;
	box-shadow: 2px 0 2px rgba(0, 0, 0, .2);
	float: left;
	background-color: white;
}

.main {
	margin-left: 256px;
}

.banner {
	background-color: var(--primary-color);
	color: var(--light-text);
	padding: 1rem 1.5rem;
}

.icon-label {
	display: block;
	text-decoration: none;
	color: var(--dark-text);
	position: relative;
}

.icon {
	padding: 0.5em;
	fill: var(--dar-text);
}