.event-item-container {
	position: relative;
	margin: 1em;
	display: block;
}

.event-buttons {
	position: absolute;
	left: 100%;
	display: flex;
	flex-direction: column;

	opacity: 0;
	transform: translateX(-100%);
	visibility: hidden;
	transition: transform 0.1s ease, opacity 0.09s ease, visibility 0.09s ease;
}
.event-item-container:hover .event-buttons {
	opacity: 1;
	transform: none;
	visibility: visible;
}
.event-button {margin: 0.2em 0.5em;}

.event-card {
	background: #2979ff; color: white;

	border-radius: var(--rounding);
	padding: 1em;
}
.event-card-check {
	margin: 0.5em;
	margin-left: 0;
	float: left;
}

.not-my-event {
	opacity: 0.7;
}

.agenda-label {
	display: flex;
	flex-direction: column;
	width: 3em;
}
.agenda-label-date {font-size: 1.7em;}
.agenda-label-today {
	color: var(--brand-primary);
}
.agenda-label-past {
	color: #666;
}

.agenda-overview-table {position: fixed;}
.agenda-date-list {
	display: flex;
	margin-left: 25em;
}

.loader {align-self: center}