.planner-sidebar {
	float: right;
	display: flex;
	flex-direction: column;
	width: 20rem;
}

.main-area {
	margin-right: 20rem;
}

.panel {
	margin: 0 0.5em;
	border-top: 0.1em solid gray;
}

/* TODO: Use a class instead */
.panel h3 {
	margin-top: 1em;
}
