@import '../utils/color.css';

.small-calendar {
	border-spacing: .75em;
	text-align: center;
	margin: 2em;
	position: fixed;
	top: 4rem;
}

.cal-day {
	border: 1px solid transparent;
	
	width: 2em;
	height: 2em;
}

.cal-event {
	border-color: var(--dark-secondary);
}

.agenda {
	margin: 0 3em 0 27em;
	background: var(--white-primary);
	padding: 2em;
}