/**
 * Color variables: contains brand and text colors for use in other CSS.
 */
:root {
	--primary-color: rgb(59, 166, 72);
	--accent-color: rgb(214, 83, 76);
	--dark-gray: rgb(63, 67, 63); /* For dark backgrounds */
	--light-gray: rgb(248, 250, 249); /* For light backgrounds */
	
	--dark-primary: rgba(63, 67, 63, 0.87);
	--dark-secondary: rgba(63, 67, 63, 0.54);
	--dark-hint: rgba(63, 67, 63, 0.38);
	--dark-divider: rgba(63, 67, 63, 0.12);
	
	--white-primary: rgb(255, 255, 255); 
	--white-secondary: rgba(255, 255, 255, 0.7);
	--white-hint: rgba(255, 255, 255, 0.5);
	--white-divider: rgba(255, 255, 255, 0.12);
}