:root {
	--header-height: 4em;
}

.page-header {
	background: #3ba648;
	color: white;

	display: flex;
	align-items: center;
	justify-content: space-between;
	height: var(--header-height);
}

.page-title {
	font-weight: normal;
	font-size: 1.5em;
}
