:root {
	--expanded-sidebar-width: 11em;
	--shrunk-sidebar-width: 5em;
}

.sidebar {
	font-weight: bold;
	background: white;

	float: left;
	height: 100vh;
	width: var(--shrunk-sidebar-width);
}
.sidebar:hover, .sidebar-open {
	width: var(--expanded-sidebar-width);
}
.sidebar:hover .sidebar-item-link,
.sidebar-open .sidebar-item-link {
	will-change: opacity;
}
.sidebar:hover .sidebar-item-icon,
.sidebar-open .sidebar-item-icon {
	margin-right: 0.75em;
}

.sidebar-head {
	text-align: center;
	background: #3ba648;

	height: 3em;
	padding: calc(calc(var(--header-height) - 3em) / 2) 0.5em;
}

.sidebar-items, .sidebar-bottom-items {
	display: flex;
	flex-flow: column;
	padding: 0;
	overflow-x: hidden;
}

.sidebar-bottom-items {
	border-top: 1px solid gray;
	font-size: 0.75em;

	padding: 0.5em 0;
}

.sidebar-item {
	display: block;
	padding: 0.75em 0;
}
.current-item {
	background: #eee;
}
.current-item > sidebar-item-link {
	opacity: 1;
}

.sidebar-item-link {
	color: inherit;
	text-decoration: none;
	opacity: 0.7;
	transition: opacity 0.2s ease;

	display: flex;
	align-items: center;
	width: var(--expanded-sidebar-width);
}
.sidebar-item-link:hover {
	opacity: 1;
}

.sidebar-item-icon {
	height: 2.5em;
	width: 2.5em;
	margin: 0.25em calc(calc(5rem - 2.5em) / 2);
}
