/**
 * Color variables: contains brand and text colors for use in other CSS.
 */
:root {
	/* Temporary shades of gray before deciding colors */
	--primary-color: #3ba648;
	--accent-color: #002859;
	--dark-gray: #424242;
	--light-gray: #fafafa;
	
	--light-text: #fff;
	--dark-text: #212121;
}